*{
    margin:0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;

}
.header{
    width: 1200px;
    height: 84px;
    margin: 0 auto;
    /*background: #999;*/
}
.header .logo,.nav,.login{
    display: inline-block;
    vertical-align: top;
}
.header .logo{
    display: inline-block;
    width: 173px;
    height: 66px;
    line-height: 84px;
    /*margin-top: 12px;*/
    margin-right:  60px;
    cursor: pointer;
}
.header .logo img{
    width: 100%;
}
.header .nav li{
    display: inline-block;
    line-height: 84px;
    margin-right: 20px;
}
.header .nav li.noMargin{
    margin-right: 0;
}
.header .nav li a:link{
    color: black;
}
.header .nav li a:hover{
    color: green;
}
.header .login{
    margin-left: 40px;
    line-height: 84px;
}
.header .login span{
    margin-right: 20px;
}
.header .login span em{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/gouwuche.png") no-repeat;
}
.header .login a{
    color: black;
    margin-right: 20px;
}
.header .login a:hover{
    color: aquamarine;
}


